page-home {

  .button-table {
    background: transparent !important;
    box-shadow: none !important;
  }

  .icon-table {
    padding: 0;
    color: #488aff;
  }

  .color-primary {
    color: #488aff;
  }
}
